.CharacterList {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background-color: red;
}
.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
